body{
  background-color: #EDF2C5;
  margin: 0;
}

.container{
   width: 1260px;
   margin: 0 auto;
   padding: 0 160px;
   box-sizing: border-box;
}

.theme{
  font-family: Arial Black;
  font-size: 44px;
  color: #778A50;
  float: left;
  margin-bottom: 8px;
}
.btns{
  float: right;
  margin-top: 53px;
}

.fb_ig_icon, .log_join{
  display: inline-block;
}

.fb img, .ig img{
  vertical-align: bottom;
  margin: 0 7px 0 0;
}

.log_join{
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding-left: 3px;
  color: #778A50;
  border-left: 1px solid #778A50;
  line-height: 25px;
  margin-bottom: 17px;
  vertical-align: top;
}

.login_btn, .join_btn{
  border-radius: 3px;
  border: 1px solid;
  margin: 0 0 0 7px;
  padding: 3px 5px;
}

.login_btn a, .join_btn a{
  text-decoration: none;
  color: #778A50;
}

.site-nav ul{
  float: left;
  margin-top: 0px;
  width: 900px;
  border-radius: 3px;
  background-color: #778A50;
}

.site-nav li{
  font-family: Arial Black;
  font-size: 20px;
  list-style: none;
  color: #EDF2C5;
  padding: 14px 60px 14px 0px;
  display: inline-block;
  background-color: #778A50;
  float: left;

}

h2{
  margin-top: 30px;
  font-family: Arial Black;
  font-size: 18px;
  color: #EDF2C5;
  padding: 15px 30px;
  border-radius: 3px;
  background-color: #778A50;

}

.vegetables{
  float: left;
}

.contact{
  float: right;
}

.title1{
  width: 395px;
}

.title2{
  width: 400px;
}

.imgs{
  margin-right: 12px;
}

.text{
  width: 450px;
  height: 130px;
  background-color: #F7FBDA;
  margin-bottom: 35px;
  padding: 5px;
}

.text p{
  font-family: ArialMT Regular, sans-serif;
  font-size: 12px;
  background-color: #F7FBDA;
  color: #7D7D7D;
  margin: 10px 0 16px 15px;
}

.line{
  height: 1px;
  width: 414px;
  background-color: #7D7D7D;
  margin-left: 15px;
}

footer {
  font-family: ArialMT Regular, sans-serif;
  font-size: 12px;
  text-align: center;
  width: auto;
  padding: 15px;
  height: 44px;
  background-color: #778A50;
}

footer p{
  color: #EDF2C5;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}
